article .entry-content p,
.article-default-width {
	max-width: 900px !important;
}

.article-card.squarebig {
	height: 300px !important;
}

div[class^='taptap'],
.headerad,
.disclaimer-block,
.entry-footer,
.mashsb-main,
#comments-container,
.code-block-12,
#card-nextpost,
.widget-area {
	display: none !important;
	height: 0px !important;
}
body {
	margin-top: 0px !important;
}

a[href^='https://inc42.com/tag/'],
a[href^='https://inc42.com/buzz/'],
a[href^='https://inc42.com/flash-feed/'] {
	border-bottom: 0px !important;
	box-shadow: none !important;
}
