@use "sass:string";

$domains: "adweek.com",
  "ad.nl",
  "americanbanker.com",
  "baltimoresun.com",
  "barrons.com",
  "bloomberg.com",
  "bloombergquint.com",
  "businessinsider.com",
  "caixinglobal.com",
  "centralwesterndaily.com.au",
  "cen.acs.org",
  "chicagotribune.com",
  "corriere.it",
  "chicagobusiness.com",
  "dailypress.com",
  "groene.nl",
  "demorgen.be",
  "denverpost.com",
  "tijd.be",
  ".nl",
  "dynamed.com",
  "ed.nl",
  "elpais.com",
  "britannica.com",
  "examiner.com.au",
  "fnlondon.com",
  "ft.com",
  "firstthings.com",
  "foreignpolicy.com",
  "fortune.com",
  "genomeweb.com",
  "glassdoor.com",
  "haaretz.com",
  "haaretz.co.il",
  "handelsblatt.com",
  "harpers.org",
  "courant.com",
  "hbr.org",
  "heraldsun.com.au",
  "fd.nl",
  "ilmanifesto.it",
  "inc.com",
  "investorschronicle.co.uk",
  "lanacion.com.ar",
  "repubblica.it",
  "lastampa.it",
  "latercera.com",
  "lecho.be",
  "ledevoir.com",
  "leparisien.fr",
  "lesechos.fr",
  "loebclassics.com",
  "lrb.co.uk",
  "labusinessjournal.com",
  "latimes.com",
  "medium.com",
  "mexiconewsdaily.com",
  "sloanreview.mit.edu",
  "technologyreview.com",
  "mv-voice.com",
  "nationalpost.com",
  "nzz.ch",
  "newstatesman.com",
  "nymag.com",
  "nzherald.co.nz",
  "asia.nikkei.com",
  "nrc.nl",
  "ntnews.com.au",
  "ocregister.com",
  "orlandosentinel.com",
  "paloaltoonline.com",
  "parool.nl",
  "qz.com",
  "quora.com",
  "sandiegouniontribune.com",
  "sfchronicle.com",
  "scientificamerican.com",
  "seekingalpha.com",
  "sofrep.com",
  "statista.com",
  "sun-sentinel.com",
  "techinasia.com",
  "telegraaf.nl",
  "adelaidenow.com.au",
  "theadvocate.com.au",
  "theage.com.au",
  "the-american-interest.com",
  "theathletic.com",
  "theathletic.co.uk",
  "theatlantic.com",
  "afr.com",
  "theaustralian.com.au",
  "bizjournals.com",
  "canberratimes.com.au",
  "thecourier.com.au",
  "couriermail.com.au",
  "dailytelegraph.com.au",
  "thediplomat.com",
  "economist.com",
  "theglobeandmail.com",
  "theherald.com.au",
  "thehindu.com",
  "irishtimes.com",
  "japantimes.co.jp",
  "kansascity.com",
  "themarker.com",
  "mercurynews.com",
  "themercury.com.au",
  "mcall.com",
  "thenation.com",
  "news-gazette.com",
  "newyorker.com",
  "nytimes.com",
  "inquirer.com",
  "thesaturdaypaper.com.au",
  "seattletimes.com",
  "spectator.com.au",
  "spectator.co.uk",
  "smh.com.au",
  "telegraph.co.uk",
  "thetimes.co.uk",
  "thestar.com",
  "wsj.com",
  "washingtonpost.com",
  "thewrap.com",
  "the-tls.co.uk",
  "towardsdatascience.com",
  "trouw.nl",
  "vanityfair.com",
  "vn.nl",
  "journalnow.com",
  "wired.com",
  "worldpoliticsreview.com";

@each $domain in $domains {
  a[href^="http://#{$domain}"]::before,a[href^="https://#{$domain}"]::before,a[href^="https://#{$domain}"]::before,a[href^="http://#{$domain}"]::before {
    content: "$";
    color: green;
    text-decoration: none !important;
  }
}
